* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 1%;
  width: 80%;
}

/* GLOBAL */

/* HEADER */

.header {
  background: #4682b4;
  color: #fff;
}

.header ul {
  list-style: none;
}

.header ul li {
  display: inline;
  margin: 1%;
}

.header ul li a{
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

/* MAIN CONTENT */

/* FOOTER */

.footer {
  background: #333;
  color: #fff;
  width: 100%;
  position: fixed;
  bottom: 0;
}
